{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block main_content %}
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4 mt-100 ml-10 ">Share your creativity to Innovate world with INNOVGALLERY</h1>
        </div>
        <div class="col-md-3">
            <div class="card mt-100">
                <div class="card-body">

                    <form action="/login_validation" method="post" class="form formlog">
                        <label>Email</label><br>
                        <input type="email" name="email" class="form-control"><br>
                        <label>Password</label><br>
                        <input type="password" name="password" class="form-control"><br>
                        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login"><br>
                    <p class="mt-2">Not a member? <a href="/register">Create Account</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}