{% extends 'base.html' %}

{% block title %} Terms & conditons {% endblock %}

{%  block main_content %}
<h1 class="title text-center">Term & Conditions</h1>
<div class="tcpage card opacity-75 container">
<p class="h3">PLEASE READ THE FOLLOWING TERMS AND CONDITIONS BEFORE REGISTERING AND USING THE DRIVEWAY SERVICE:</p><br>
<p class="h3">You have selected to register for use file sharing service. The Service is provided to you under the terms and conditions set forth in these Terms and Conditions of Use.You are solely responsible for the content of all data You share or receive through the service and for all transmissions by You.</p><br>
<p class="h3">Your use of the Service is subject to all applicable local, state, national and international laws and regulations You will: <br><br> not use the Service for any illegal purposes <br>not use the Service to share, upload, download or view any file, data, image or program that contains any illegal pictures, materials or information, any harassing, libelous, abusive, threatening, harmful, vulgar, pornographic, obscene or otherwise objectionable material of any kind or nature. <br>any material that encourages conduct that could constitute a criminal offense. give rise to civil liability or otherwise violate any applicable local, state, national or international law or regulation. any code or material that violates the intellectual property rights of others.</p>
</div>
{% endblock %}
